@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
    margin: 0;
    height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    background: #3c3c3c;
}

#flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* position: absolute; */
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    background: linear-gradient(rgba(7, 110, 45, 0.515), rgba(7, 110, 45, 0.515)), url('../img/banner') no-repeat;
    background-size: cover;
    background-position: center center;
}

#titleBanner {
    font-family: 'Roboto', 'sans-serif';
    font-size: 38px;
    color: white;
    text-align: center;
}

#line {
    border-bottom: 4px solid white;
    width: 13%;
}

#banner p {
    font-family: 'Roboto', 'sans-serif';
    color: white;
    text-align: center;
    padding: 2%;
}

#progressBar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;

}

#voltar {
    display: flex;
    padding: 2% 0% 0% 2%;
}

#lineOfProgress {
    width: 100%;
    height: 3px;
    background-color: white;
}

#progressBar h3 {
    color: white;
}

#loginArea {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#textoSecundario {
    font-size: 23px;
}

#loginTitle {
    font-family: 'Roboto', 'sans-serif';
    font-size: 38px;
    color: #33dba3;
    text-align: center;
    margin-top: 15%;
}

#lineGreen {
    border-bottom: 4px solid #33dba3;
    width: 7%;
    margin-bottom: 6%;

}

#divInput {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

#password {
    width: 100%;
    border: #686868 solid 2px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 22px;
    color: white;
    padding: 4% 2% 2% 2%;
    background-color: #686868;
    border-radius: 3px;
    margin-bottom: 3%;
}

#password:hover {
    outline: 0;
}

#password:focus {
    border: #33dba3 solid 3px;
    outline: 0;
    box-shadow: none;
}

label {
    color: #ababab;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

#labelPassword:focus-within {
    color: aqua;
}

#divButtons {
    height: 62px;
    width: 100%;
    margin-top: 6%;
    /* margin-bottom: 4%; */
    border: 2px white;
    display: flex;
    justify-content: center;
}

#cadastrar {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33dba3;
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    font-weight: 550;
    padding: 14px 10px 14px 10px;
    /* margin-top: 7%; */
    border: none;
    border-radius: 10px;
}

#cadastrar:hover {
    cursor: pointer;
    background-color: #11c589;
}


@media only screen and (max-width:1100px) {
    #flexbox {
        justify-content: center;
    }

    #cadastrar {
        width: 30%;
    }

}

@media only screen and (max-width:932px) {
    #cadastrar {
        width: 35%;
    }
}

@media only screen and (max-width:770px) {
    #cadastrar {
        width: 40%;
    }
}


@media only screen and (max-width:710px) {

    #banner {
        display: none;
    }

}

@media only screen and (max-width:680px) {
    #loginTitle {
        margin-top: 10%;
    }

    #lineGreen {
        margin-bottom: 6%;
    }
}

@media only screen and (max-width:540px) {
    #banner {
        display: none;
    }

    #cadastrar {
        width: 60%;
    }

    #divInput {
        width: 80%;
    }
}