<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/agendaSemanal.css">
    <link rel="icon" href="../public/img/logo.svg">
</head>

<body>
    <div id="content">
        <aside>
            <div id="logo">
                <img src="../public/img/logo.svg">
            </div>
            <div id="icons">
                <div id="menu" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/perfil.svg" alt="perfil">
                        <p>Perfil</p>
                    </div>
                    <div class="active">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="vacina" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/vacina.svg" alt="Vacina">
                        <p>Vacina</p>
                    </div>
                    <div class="active">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="canlendario" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/calendario.svg" alt="calendario">
                        <p>Calendar</p>
                    </div>
                    <div class="active">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="comida" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/comida.svg" alt="comida">
                        <p>Comida</p>
                    </div>
                    <div class="active">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="rotina" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/rotina.svg" alt="rotina">
                        <p>Rotina</p>
                    </div>
                    <div class="active">
                        <div class="cor-interna"></div>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <header>
                <h1>Tarefas</h1>
                <div id="lateral-icons">
                    <div class="icons" id="divNotificacao">
                        <span id="haveNotification"></span>
                        <img src="../public/img/notificacao.svg" alt="notificações" id="notificacao">
                    </div>
                    <div class="icons">
                        <img src="../public/img/perfil.svg" alt="foto de perfil" id="fotoPerfil">
                    </div>
                </div>
            </header>
            <section id="tarefas">
                <div id="divAdd">
                    <h3 id="atualSemana"></h3>
                    <img src="../public/img/adicionar.svg" alt="adicionar" class="adicionar" id="adicionar"
                        onclick="addClicks()">
                </div>
                <div id="semana">
                    <div id="domingo" class="coluna">
                        <h3 class="days">DOMINGO</h3>
                        <div class="dias" id="day0"></div>
                    </div>
                    <div id="segunda" class="coluna">
                        <h3 class="days">SEGUNDA</h3>
                        <div id="day1"></div>
                    </div>

                    <div id="terca" class="coluna">
                        <h3 class="days">TERÇA</h3>
                        <div id="day2"></div>
                    </div>
                    <div id="quarta" class="coluna">
                        <h3 class="days">QUARTA</h3>
                        <div id="day3"></div>
                    </div>
                    <div id="quinta" class="coluna">
                        <h3 class="days">QUINTA</h3>
                        <div id="day4"></div>
                    </div>
                    <div id="sexta" class="coluna">
                        <h3 class="days">SEXTA</h3>
                        <div id="day5"></div>
                    </div>
                    <div id="sabado">
                        <h3 class="days">SABADO</h3>
                        <div id="day6"></div>
                    </div>
                </div>

    </div>
    </section>
    </main>
    </div>
    <script src="../controller/databaseController.js"></script>
    <script src="../public/js/agendaSemanal.js"></script>
</body>

</html>