<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pet</title>
    <link rel="stylesheet" href="../public/css/cadastrarAnimais2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/logo.svg">
</head>

<body>
    <main>
        <div id="flexbox">
            <div id="loginArea">
                <div id="progressBar">
                    <div id="voltar">
                        <h3>Voltar</h3>
                    </div>
                    <div id="lineOfProgress"></div>
                </div>
                <h1 id="loginTitle">Cadastro</h1>
                <div id="lineGreen"></div>
                <div id="divInput">
                    <form method="post">
                        <div class="form-floating">
                            <input id="password" type="text" class="form-control nomAnimal" autocomplete="off"
                                placeholder="Nome" />
                            <label class="control-label" for="user">Nome</label>
                        </div>
                        <div class="form-floating">
                            <input id="password" type="text" class="form-control idadeAnimal" autocomplete="off"
                                placeholder="Idade" />
                            <label class="control-label" for="user">Idade</label>
                        </div>
                        <div class="form-floating">
                            <input id="password" type="text" class="form-control pesoAnimal" autocomplete="off"
                                placeholder="Peso" />
                            <label class="control-label" for="user">Peso</label>
                        </div>
                        <div class="form-floating">
                            <input id="password" type="text" class="form-control racaAnimal" autocomplete="off"
                                placeholder="Raça" />
                            <label class="control-label" for="user">Raça (opcional)</label>
                        </div>
                    </form>
                    <div id="divButtons">
                        <button id="cadastrar">Cadastrar</button>
                    </div>
                </div>
            </div>
            <div id="banner">
                <h1 id="titleBanner">Seja bem vindo, mais novo integrante da família</h1>
                <div id="line"></div>
                <!-- <p id="textoPrincipal">Bem vindo ao mais novo integrante da família</p> -->
                <p id="textoSecundario">Estamos muito felizes em recebê-lo(a)!</p>
            </div>
        </div>
    </main>
    <script src="../controller/databaseController.js"></script>
    <script src="../public/js/cadastroAnimain.js"></script>
</body>

</html>