<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organiza Pets</title>
    <link rel="stylesheet" href="../public/css/perfil.css">
</head>
<body>
    <aside>
        <img>
        <div id="menuPerfil">
            <img>
            <p>Perfil</p>
        </div>
        <div id="menuVacina">
            <img>
            <p>Vacinas</p>
        </div>
        <div id="menuCalendario">
            <img>
            <p>Calendar</p>
        </div>
        <div id="menuComida">
            <img>
            <p>Comida</p>
        </div>
        <div id="menuRotina">
            <img>
            <p>Rotina</p>
        </div>
    </aside>
    <main>
        <header>
            <h3>Perfil</h3>
            <div id="notificaoFoto">
                <img>
                <img>
            </div>
        </header>
        <section>
            <div id="perfil">
                <div id="fotoPerfil">
                    <img id="foto">
                    <img id="editar">
                </div>
                <h3>Nome</h3>
                <button>Nova Tarefa</button>
                <div id="grafico">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div id="programacao">
                <div id="pets">
                    <h4>Pets</h4>
                    <div id="petsCard">
                        <div class="cardPet"></div>
                        <div class="cardPet"></div>
                        <div class="cardPet"></div>
                    </div>
                </div>
                <div id="agenda">
                    <h4>Agenda</h4>
                    <div class="demostracaoTarefa">
                        <div id="agendaHeader">
                            <h4>Todos</h4>
                            <h4>A Fazer</h4>
                            <h4>Lembretes</h4>
                        </div>
                        <div class="nomeTarefa">
                            <div class="data">
                                <h5>29</h5>
                                <p>Sep</p>
                            </div>
                            <div class="Descricao">
                                <h5>Passear com Bel</h5>
                                <p>Bel</p>
                            </div>
                            <p>11:00 - 11:30</p>
                        </div>
                        <div class="nomeTarefa">
                            <div class="data">
                                <h5>29</h5>
                                <p>Sep</p>
                            </div>
                            <div class="Descricao">
                                <h5>Passear com Bel</h5>
                                <p>Bel</p>
                            </div>
                            <p>11:00 - 11:30</p>
                        </div>
                        <div class="nomeTarefa">
                            <div class="data">
                                <h5>29</h5>
                                <p>Sep</p>
                            </div>
                            <div class="Descricao">
                                <h5>Passear com Bel</h5>
                                <p>Bel</p>
                            </div>
                            <p>11:00 - 11:30</p>
                        </div>
                        <div class="nomeTarefa">
                            <div class="data">
                                <h5>29</h5>
                                <p>Sep</p>
                            </div>
                            <div class="Descricao">
                                <h5>Passear com Bel</h5>
                                <p>Bel</p>
                            </div>
                            <p>11:00 - 11:30</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../public/js/perfil.js"></script>
</body>
</html>