<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/vacinas.css">
    <title>Vacinas</title>
    <link rel="icon" href="../public/img/logo.svg">
</head>
<body>
    <div id="content">
        <aside>
            <div id="logo">
                <img src="../public/img/logo.svg">
            </div>
            <div id="icons">
                <div id="perfil" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/perfil.svg" alt="perfil">
                        <p>Perfil</p>
                    </div>
                    <div class="active" id="activePerfil">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="vacina" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/vacina.svg" alt="Vacina">
                        <p>Vacina</p>
                    </div>
                    <div class="active" id="activeVacina">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="calendario" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/calendario.svg" alt="calendario">
                        <p>Calendar</p>
                    </div>
                    <div class="active" id="activeCalendar">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="pet" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/paw.svg" alt="pet">
                        <p>Animais</p>
                    </div>
                    <div class="active"  id="activePet">
                        <div class="cor-interna"></div>
                    </div>
                </div>
                <div id="rotina" class="outside">
                    <div class="menu-icons">
                        <img src="../public/img/rotina.svg" alt="rotina">
                        <p>Rotina</p>
                    </div>
                    <div class="active"  id="activeRotina">
                        <div class="cor-interna"></div>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <div id="divLoader">
                <div class="loader"></div>
            </div>
            <header>
                <h1>Vacinas</h1>
                <div id="lateral-icons">
                    <div class="icons" id="divNotificacao">
                        <span id="haveNotification"></span>
                        <img src="../public/img/notificacao.svg" alt="notificações" id="notificacao">
                    </div>
                    <div class="icons">
                        <img src="../public/img/perfil.svg" alt="foto de perfil" id="fotoPerfil">
                    </div>
                </div>
            </header>
            <section id="vacinas">
        
            </section>
        </main>
    </div>
    <script src="../controller/databaseController.js"></script>
    <script src="../public/js/vacinas.js"></script>
</body>
</html>